#popup-dim {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:9999;
}

#popup-window {
    position:relative;
    width: 600px;
    height: 700px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:url(../img/popup-modal.PNG) center no-repeat;
    background-size: contain;
}
#close-icon {
    position: absolute;
    top:53px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: #0d6490;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
#close-icon img {
    position: absolute;
    width:15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-field {
    position: absolute;
    width:70%;
    top:25%;
    left:50%;
    transform:translateX(-50%);    
}
#form-field .button{
    display:block;
    width:200px;
    box-shadow: none;
    padding: 15px 20px;
    letter-spacing: 1px;
    text-align: center;
}
.button-facebook {
    display:inline-block;
    background-color: #0d6490;
    padding: 5px 15px;
    border-radius: 4px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    line-height: 30px;
}
.button-facebook a {
    text-decoration: none;
    color:#fff;
}
.button-facebook img {
    vertical-align: middle;
}
#form-field a {
    text-decoration: none;
}

#form-field form input{
    width:100%;
    margin:10px 0px;
    padding: 10px 15px;
    background-color: #F2F2F2;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

#form-checkbox a {
    text-decoration: underline;
    font-style: italic;
    font-size: 14px;
    color: #3f3f3f;
} 

#form-checkbox {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#remember-me {
    display:inline;
}
#form-checkbox div:first-of-type {
    display:flex;
    flex-flow:row wrap;
    font-size: 14px;
    color: #3f3f3f;
    white-space: nowrap;
}

.btn-login {
    background-color: #CF2339;
}
.btn-login:hover {
    background-color: #d6374d;
}
.btn-sign-in {
   background-color: #0d6490;
}
.btn-sign-in:hover {
    background-color: #1c739e;
 }
.registration {
    margin-left: 80px;
    display: flex;
    justify-content: center;
    flex-flow:column;
    gap: 25px;
}

.registration p {
    margin-left:20px;
    color: #3f3f3f;
}